RTSP_URL={{ webcam_rtsp_url }}
WEBCAM_LATITUDE={{ webcam_latitude }}
WEBCAM_LONGITUDE={{ webcam_longitude }}
WEBCAM_TIMEZONE={{ webcam_timezone }}
SNAPSHOT_RETENTION_DAYS={{ webcam_snapshot_retention_days }}
SNAPSHOT_WIDTH={{ webcam_snapshot_width }}
SNAPSHOT_HEIGHT={{ webcam_snapshot_height }}
SNAPSHOT_QUALITY={{ webcam_snapshot_quality }}
SNAPSHOT_WINDOW_MINUTES={{ webcam_snapshot_window_minutes }}
HLS_TIME={{ webcam_hls_time }}
HLS_LIST_SIZE={{ webcam_hls_list_size }}
